<ul class="nav navbar-nav">
  <li ng-class="{'active': local.substring(1).length==0}">
	<a ng-href="#/">Home</a>
  </li>
  <li ng-class="{'active':local.substring(1)==='relatorio-ganhos'}">
	<a ng-href="#/relatorio-ganhos">Relatório Ganhos</a>	
  </li>
  <li ng-class="{'active':local.substring(1)==='relatorio-vendas'}">
	<a ng-href="#/relatorio-vendas">Relatório de Vendas</a>	
  </li>
  <li ng-class="{'active':local.substring(1)==='cadastro-pagamento'}">
	<a ng-href="#/cadastro-pagamento">Cadastro Pagamento</a>	
  </li>  
</ul>