<div class="table-responsive">
<table class="table table-striped">
	<thead>
		<tr>
			<th>Pagamento</th>
			<th>Total</th>
			<th>Taxa</th>
			<th>Valor de Venda</th>
			<th>Valor de Taxas</th>
			<th>Lucro</th>
			<th>Participação de Ganhos</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="relatorio in relatorioData">
			<td>{{relatorio.pagamento}}</td>
			<td>{{relatorio.total}}</td>
			<td>{{relatorio.taxa}}</td>
			<td>{{relatorio.valorVenda}}</td>
			<td>{{relatorio.valorTaxas}}</td>
			<td>{{relatorio.lucro}}</td>
			<td>{{relatorio.participacapGanhos}}</td>
		</tr>
	</tbody>
</table>
</div>